#grid-area-contacto{
    display: grid;
    grid-template-areas: 
    "cabeza"
    "formulario"
    "pie"
    ;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 100%;
}
.formulario{
    grid-area: formulario;
    background-image: radial-gradient( #b9b9b944 30%, white 75%);
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
    form{
        text-align: center;
      }
    h1{
        padding: 5px;
        font-size: 40px;  
        text-align: center;
      }  
    .botonForm{
        margin: 3px;
    }
}
@media (min-width: 1024px){
  .cajaForm{
    width: 25%;
  }
}