#grid-area-ubicacion{
    display: grid;
    grid-template-areas: 
    "cabeza"
    "ubicacion"
    "pie"
    ;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 100%;
    .ubicacion{
        grid-area: ubicacion;
        background-image: radial-gradient( #b9b9b944 50%, white 70%);
        @include tamanio(100vh, 80vw);
        margin: 40px;
        margin-left: 10%;
        padding: 30px;
        text-align: center;
        border-radius: 3%;
        .textUbicacion{
            padding: 5px;
        }
        .mapa{
            width: 80%;
        }
    }
}