// Variables
$negro: rgba(12, 12, 12);
$blanco: rgb(255, 255, 255);
$color-principal: #006EBD;
$color-gradiente-uno: rgba(235, 235, 235, 0.5);
$color-gradiente-dos: rgb(128, 128, 128);
$color-gris-oscuro: #b9b9b944;
// Mixins
@mixin tamanio ($alto, $ancho){
    height: $alto;
    width: $ancho;
}