*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Productos*/
/*Desktop*/
@media (min-width: 1024px){
    #grid-area-productos{
        display: grid;
        grid-template-areas: 
        "cabeza cabeza"
        "aside productos"
        "pie pie"
        ;
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-columns: 20% 80%;
    }
    .productos{
        grid-area: productos;
        background-color: white;
    }
    .contenedorAside{
        grid-area: aside;
    }
    .card-img-top{
        height: 40vh;
        width: 5vh;
    }
}

/*Tablet*/
@media (min-width: 480px) and (max-width: 1023px){
    #grid-area-productos{
        display: grid;
        grid-template-areas: 
        "cabeza cabeza"
        "aside productos"
        "pie pie"
        ;
        grid-template-rows: 1fr 6fr 1fr;
        grid-template-columns: 20% 80%;
    }
    .productos{
        grid-area: productos;
        background-color: white;
        margin: 5px;
    }
    .contenedorAside{
        grid-area: aside;
    }
    .card-img-top{
        height: 40vh;
        width: 5vh;
    }
}
/*Contacto*/
#grid-area-contacto{
    display: grid;
    grid-template-areas: 
    "cabeza"
    "formulario"
    "pie"
    ;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 100%;
}
.formulario{
    grid-area: formulario;
    background-image: radial-gradient( #b9b9b944 30%, white 75%);
    margin: 50px;
    padding: 30px;
    border-radius: 3%;
  }
  .formulario form{
    text-align: center;
  }
  .formulario h2{
    padding: 5px;
    font-size: 40px;  
    text-align: center;
  }
  .textForm{
    font-size: small;
  }
/*Ubicacion*/
#grid-area-ubicacion{
    display: grid;
    grid-template-areas: 
    "cabeza"
    "ubicacion"
    "pie"
    ;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 100%;
}
.ubicacion{
    grid-area: ubicacion;
    background-image: radial-gradient( #b9b9b944 50%, white 70%);
    height: 100vh;
    width: 80vw;
    margin: 40px;
    margin-left: 10%;
    padding: 30px;
    text-align: center;
    border-radius: 3%;
  }
  .textUbicacion{
    padding: 5px;
  }
  .mapa{
      width: 80%;
  }
  /*Nosotros*/
  #grid-area-nosotros{
    display: grid;
    grid-template-areas: 
    "cabeza cabeza"
    "imagenNosotros seccionNosotros"
    "pie pie";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
  .imagenNosotros{
    grid-area: imagenNosotros;
    width: 80%;
    height: 400px;
    padding: 20px;
    margin-left: 30px;
  } 
  .seccionNosotros{
    grid-area: seccionNosotros;
    height: 360px;
    width: 70%;
    margin: 10px;
    padding: 30px;
    background-image: radial-gradient( #b9b9b95e 30%, white 70%);
    border-radius: 3%;
  }
  .seccionNosotros p{
    padding-top: 30px;
  }
@media (max-width: 900px){
    #grid-area-nosotros{
        display: grid;
        grid-template-areas: 
        "cabeza"
        "seccionNosotros"
        "pie";
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
      }
      .imagenNosotros{
      display: none;
      }
  }